@model IEnumerable<ASPNetCore_Wijmo.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<script>
    function itemFormatter(panel, r, c, cell) {
        var flex = panel.grid;
        var col = panel.columns[c];

        if (col.name == "Edit" && panel.cellType === wijmo.grid.CellType.Cell) {
            var data = flex.getCellData(r, c, false);
            var displayFormatted = '<a href="Movies/Edit/' + data + '">Edit</a> |' +
                '<a href="Movies/Details/' + data + '">Details</a> |' +
                '<a href="Movies/Delete/' + data + '">Delete</a>';
            cell.innerHTML = displayFormatted;
        }
    }
</script>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Movies" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

@Html.AntiForgeryToken()
<c1-flex-grid id="gsFlexGrid" is-read-only="true" auto-generate-columns="false" allow-sorting="true" item-formatter="itemFormatter">
    <c1-flex-grid-column binding="ID"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Title"></c1-flex-grid-column>
    <c1-flex-grid-column binding="ReleaseDate"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Genre"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Price"></c1-flex-grid-column>
    <c1-flex-grid-column name="Edit" header="" width="*">
        <c1-flex-grid-cell-template>
            <a asp-action="Edit" asp-route-id="{{ID}}">Edit</a> |
            <a asp-action="Details" asp-route-id="{{ID}}">Details</a> |
            <a asp-action="Delete" asp-route-id="{{ID}}">Delete</a>
        </c1-flex-grid-cell-template>
    </c1-flex-grid-column>
    <c1-items-source source-collection="@Model"></c1-items-source>
    <c1-flex-grid-group-panel max-groups="4"
                              placeholder="Please add columns for grouping here"
                              hide-grouped-columns="false">
    </c1-flex-grid-group-panel>
    <c1-flex-grid-filter default-filter-type="Both"></c1-flex-grid-filter>
</c1-flex-grid>
